@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap");
:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Merriweather Sans", sans-serif;
}
body {
  background-color: var(--body-bg-color);
}

.profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 1em;
  height: 250px;
}
.cards {
  color: var(--text-color);
  background-color: var(--bg-cards);
  border-radius: 20px;
  margin: 1em;
}
#user-image {
  display: block;
  border-radius: 50%;
  border: 2px solid #00ff00;
  width: 128px;
  height: 128px;
}
#name {
  font-weight: bold;
  font-size: 23px;
}
#bio {
  font-weight: lighter;
  font-size: 13px;
}
.icon-box {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.icon-text {
  display: flex;
  align-items: flex-start;
  font-weight: normal;
  font-size: 12px;
  margin: 0.5em 0em 0.5em 0em;
  color: var(--text-color);
}
.icon-text p,
a {
  padding-left: 5px;
}
a {
  cursor: pointer;
}
.inline-block {
  display: inline-block;
}
.technology-box {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
}
.technology-box h1 {
  padding-bottom: 1em;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}
.tech-wrapper {
  margin: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tech {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  background-color: var(--bg-techs);
  border-radius: 1em;
  font-weight: bold;
  color: var(--body-bg-color);
  margin: 0.5em;
}
/* .education-box {
} */
.education-box h1 {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding: 1em;
}
.education-box h5 {
  font-weight: bold;
  font-size: 14px;
}
.education-box p {
  font-weight: bold;
  font-size: 11px;
}
.education-list {
  padding: 1em 0em 1em 1em;
}
.education-list li {
  margin-bottom: 1em;
}
#date-text {
  font-weight: 400;
}
#project-header {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
#project-header p {
  cursor: pointer;
}
header h1 {
  font-weight: bold;
  font-size: 20px;
}
header p {
  font-weight: 500;
  font-size: 12px;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  place-items: center;
  place-content: center;
}
.project-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
  width: 400px;
  height: 170px;
}
.project-title {
  width: 230px;
}
.project-title p {
  font-weight: bold;
  padding-left: 1em;
  margin-bottom: 1em;
}
.project-description p {
  text-align: center;
  font-weight: lighter;
  font-size: 14px;
}
.project-repo-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.project-repo-count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
}
.language-name {
  padding-left: 5px;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
a:hover {
  text-decoration: underline;
  color: var(--text-color);
}
#cu{
  color: #00ff00;
  background-color: #00ff00;
}